<input type="button" value="generate Rule" (click)="generateRules()">

<div class="rule-definition">
  <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: group, parent: null, index: -1 }"></ng-container>
</div>

<ng-template #groupTemplate let-group let-parent="parent" let-index="index">
  <div class="group">
    <div class="options">
      <div class="option-absolute">
        <select [(ngModel)]="group.condition">
          <option value="ALL">ALL</option>
          <option value="ANY">ANY</option>
        </select>
        <input type="button" class="insert-group" value="Add Group" (click)="addGroup(group)">
        <input type="button" class="insert-rule" value="Add Rule" (click)="addRule(group)">
        <input *ngIf="parent" type="button" class="remove-group" value="Remove" (click)="removeRule(parent, index)">
      </div>
    </div>
    <div class="group-container">
      <ng-container *ngFor="let rule of group.rules; let i = index">
        <ng-container *ngIf="isGroup(rule); else ruleTemplate">
          <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: rule, parent: group, index: i }"></ng-container>
        </ng-container>
        <ng-template #ruleTemplate>
          <div class="rule">
            FactName
            <select [(ngModel)]="rule.operator">
              <option>Operator</option>
            </select>
            <input type="text" [(ngModel)]="rule.value">
            <input type="button" value="remove" (click)="removeRule(group, i)">
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>
