<input type="button" value="generate Rule" (click)="generateRules()">

<div class="rule-definition">
  <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: group, parent: null, index: -1 }"></ng-container>
</div>

<ng-template #groupTemplate let-group let-parent="parent" let-index="index">
  <div class="group">
    <div class="options">
      <div class="option-absolute">
        <div class="input-container select">
          <select class="input-select" id="condition-type" [(ngModel)]="group.condition">
            <option value="ALL">ALL</option>
            <option value="ANY">ANY</option>
          </select>
          <label for="condition-type">Condition Type</label>
        </div>
        <input type="button" class="insert-group" value="Add Group" (click)="addGroup(group)">
        <input type="button" class="insert-rule" value="Add Rule" (click)="addRule(group)">
        <input *ngIf="parent" type="button" class="remove-group" value="Remove" (click)="removeRule(parent, index)">
      </div>
    </div>
    <div class="group-container">
      <ng-container *ngFor="let rule of group.rules; let i = index">
        <ng-container *ngIf="isGroup(rule); else ruleTemplate">
          <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: rule, parent: group, index: i }"></ng-container>
        </ng-container>
        <ng-template #ruleTemplate>
          <div class="rule">
            <div class="input-container select">
              <select class="input-select" id="operator-name" [(ngModel)]="rule.operator">
                <option>Operator</option>
              </select>
              <label for="operator-name">Rule Operator</label>
            </div>
            <div class="input-container text">
              <input class="input-text" id="value" type="text" [(ngModel)]="rule.value" value=" "/>
              <label for="value">Value</label>
            </div>
            <input type="button" value="remove" (click)="removeRule(group, i)">
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>
